/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #525254;
}

/* HEADER */

header {
    width: 100%;
}

.topo {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

#control-nav {
    display: none;
}

.topo__logo {
    width: 15%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.nav__menu {
    display: flex;
}

.menu__item {
    margin: 0 30px;
    font-size: 1.1em;
    transition: color ease 500ms;
    position: relative;
}

.menu__item:hover {
    color: #f95454;
    transition: color ease 500ms;
}

.menu__item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f95454;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu__item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.topo__login {
    padding: 8px 10px;
    background: #f95454;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}

/* BANNER */
.banner {
    max-width: 100%;
    width: 100%;
}

.banner_home {
    height: 70vh;
}

.banner__item {
    position: relative;
}

.banner__item,
.banner__item img  {
    height: 100%;
    width: 100%;
}

.banner__item img  {
    object-fit: cover;
}

.banner__caption {
    position: absolute;
    top: 0;
    transition: ease all 500ms;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

.banner__item:hover .banner__caption {
    transition: ease all 500ms;
    position: absolute;
    top: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
}

.caption__text {
    text-align: center;
    color: #fff;
    width: 100%;
    transition: all ease 500ms;
    position: absolute;
    top: 0;
    font-size: 2em;
}

.banner__item:hover .caption__text {
    position: absolute;
    top: 50%;
    transition: all ease 500ms;
}

/* HOME - CONTENT */

.content h2 {
    color: #f95454;
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.content {
    width: 100%;
    margin: 80px auto;
    padding: 30px 0;
}

.quemsomos__btn {
    background: #f95454;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 15px;
    display: block;
    width: 10%;
    text-align: center;
    margin: 35px auto 0;
    font-size: .8em;
    font-weight: bold;
}

.equipe__name {
    color: #5c5c5c;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
}

.fa-user-circle {
    color: #b8b8ba;
}

.content__box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content__text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.contato__box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.contato__box > input, 
.contato__box textarea {
    margin-bottom: 15px;
    padding: 15px 10px;
    color: #525254;
    outline-color: #f95454;
}

.contato__box button {
    background: #f95454;
    border: 0;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background ease 500ms;
}

.contato__box button:hover {
    background: #b53b3b;
    transition: background ease 500ms;
}

.contato__box button:active {
    transform: translateY(3px);
    transition: transform ease 200ms;
}

.content__faleconosco {
    margin-bottom: 0;
    background: #F5F5F5;
    padding: 80px 0;
}

.equipe__box {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.equipe__item {
    width: 15%;
    text-align: center;
}

.equipe__item img {
    width: 100%;
}

.equipe__cargo {
    color: #fa8081;
    font-weight: bold;
}

/* FOOTER */

footer {
    background: #525254ad;
    color: #fff;
}

.footer__content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 0.75em;
    text-transform: uppercase;
}

/* VALIDATION ERROS */ 

.validation_msg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 2em;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.validation_msg::after {
    content: 'x';
    display: block;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 20%;   
    color: #f95454;
    font-weight: bold;
}

/* MOBILE */

@media screen and (max-width: 767px) {
    /* MENU */
    header .control-nav {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #f95454;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }
  
    header .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #f95454;
    }
  
    header .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
  
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        border-left: 1px solid #ccc;
        background: #fff;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    #control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
      
    #control-nav:checked ~ nav {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__menu {
        flex-direction: column;
        align-items: center;
    }

    .menu__item {
        display: block;
        width: 100%;
        font-size: 1.5em;
    }

    .menu__item a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px 0;
    }

    /* HEADER */
    .topo {
        display: block;
    }

    .topo__logo {
        width: 100%;
        margin-bottom: 20px;
    }

    .topo__login {
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    /* HOME */
    .banner_home {
        height: 30vh;
    }


    .contato__box {
        width: 90%;
    }

    .footer__content {
        text-align: center;
        font-size: .8em;
    }

    .quemsomos__btn {
        width: 40%;
    }

    .content {
        margin: 30px 0;
    }

    .equipe__box {
        flex-wrap: wrap;
    }

    .equipe__item {
        width: 48%;
        margin-bottom: 20px;
    }
  }